@media (min-width: 66.5rem) {
  .site-nav, .site-header, .site-footer {
    width: 260px;
  }
}

a {
  color: #abcfff;
}

.site-header {
  min-height: 160px;
  max-height: 160px;
  background-color: #27262B;
}

.main-content a {
  white-space: normal;
}
