@media (min-width: 66.5rem) {
  .site-nav, .site-header, .site-footer {
    width: 260px;
  }
}

.site-title {
  padding: 0;
}

.site-nav {
  padding-top: 1.5rem;
}

a {
  color: #272661;
}

.site-header {
  min-height: 181px;
  max-height: 181px;
}

.main-content a {
  white-space: normal;
}
